<div class="thumbnail">
    <img src="https://via.placeholder.com/1000x300" alt=""/>
    <div>
        <h3 class="pull-right">{{product.price}} 元</h3>
        <h3>{{product.title}}</h3>
        <p>{{product.desc}}</p>
    </div>
    <div>
        <p class="pull-right">{{comments.length}}</p>
        <P>
            <app-stars [rating]="product.rating"></app-stars>
        </P>
    </div>
</div>
<div class="well">
    <div class="row" *ngFor="let c of comments">

        <div class="col-md-12">
            <app-stars [rating]="c.rating"></app-stars>
            <span>{{c.user}}</span>
            <span class="pull-right">{{c.timeStamp}}</span>
            <p></p>
            <p>{{c.content}}</p>
        </div>
        <hr/>
    </div>
</div>
